<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchKItApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E038FD861CE7B4A100C35211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E038FD9A1CE7B4A100C35211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E038FDA51CE7B4A100C35211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E038FDB91CE7B4BF00C35211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
